/* 共通部分 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
}


/* HEADER
----------------------- */
#header {
    background: linear-gradient(to right, #D4EEFC, #FEEAC4);
    /* グラデーションの開始色（左側）と終了色（右側）を指定 */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 63px;
}

.header__title {
    font-size: 1.6em;
}

/* MAIN
--------------------------*/
.main__inner {
    width: 83%;
    margin: 0 auto;
}

.letter_mainimage{
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
}


._letter_image{
 width: 50%;
}

/* FORM 
---------------------------*/

.my-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffba38;
    color: #fff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    
}

#form{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.form__send{
    background-color: #EAF4FC;
    color: #252525;
    border-radius: 8px;
    font-size: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 27px 9px 36px;

}