/* 共通部分 */
* {
    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    display: block;
}

button {
    border: none;
}

li {
    list-style: none;
}

/* タブメニュー
---------------------------- */
.change_btn {
    border-bottom: 1.5px solid black;
    padding-top: 64px;
    font-weight: bold;
    margin-bottom: 39px;
    display: flex;
    justify-content: space-between;
}

.change_btn__inner {
    width: 83%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.icon-partner {
    position: relative;
    width: 46%;
    text-align: center;
}

.partner_badge {
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: #ff8787;
    color: white;
    border-radius: 50%;
    padding: 0px 5px;
}

.icon-oneself {
    position: relative;
    width: 46%;
    text-align: center;
}

.oneself_badge {
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: #ff8787;
    color: white;
    border-radius: 50%;
    padding: 0px 5px;
}

.active {
    border: 1.5px solid black;
    border-bottom: none;
    border-radius: 7px 7px 0 0;
    padding: 5px;
}

.hidden {
    border: 1.5px solid #B9BCBD;
    border-bottom: none;
    color: #B9BCBD;
    border-radius: 7px 7px 0 0;
    padding: 5px;
}

/* MAIN
----------------------- */
#main {
    width: 83%;
    margin: 0 auto;
}

/* letter_list */
.non_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    color: #B9BCBD;
}

.non_item p {
    font-size: 1.9em;
}

.non_item span {
    display: block;
    font-size: 1.27em;
}

.comment_flash {
    display: none;
}

.letter_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.letter_list li {
    width: 100%;;
}

.newID {
    display: flex;
    gap: 5%;
}

.newID img {
    width: 54%;
}

.newID p {
    font-weight: bold;
    font-size: 1.5em;
}





