/* 共通部分 */
* {
    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

li {
    list-style: none;
}

/* MAIN
----------------------- */
#main {
    width: 83%;
    margin: 0 auto;
}

.main__inner {
    padding-top: 50px;
}

.user{
    display: flex;
}

.user__name  {
     width: 30%;
}

.user__name img{
    width: 50%;
}

.user__hitorino  {
    width: 30%;
}

.user__futarino  {
    width: 30%;
}

.my-button {
    font-size: 16px;
    background-color: #252525;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    height: 48px;
}

.my-button img{
    width: 10%;
}

.my-button p {
    color: #fff;
}

.user__hitorino  {
    width: 30%;
}

.user__futarino  {
    width: 30%;
}