/* 共通部分 */
* {
    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

li {
    list-style: none;
}

/* MAIN
----------------------- */
#main {
    width: 83%;
    margin: 0 auto;
}

.main__inner {
    padding-top: 50px;
}

.user{
    display: flex;
}

.user__name  {
     width: 30%;
}

.user__name img{
    width: 50%;
}

.user__hitorino  {
    width: 30%;
    text-align: center;
    font-size: 1.5em;
}

.user__futarino  {
    width: 30%;
    text-align: center;
    font-size: 1.5em;
}

.my-button {
    font-size: 16px;
    background-color: #252525;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    height: 48px;
    margin-bottom: 16px;
}

.my-button img{
    width: 10%;
}

.my-button p {
    color: #fff;
}

.post{
    font-weight: bold;
    margin-bottom: 16px;
}
.onhand  {
    width: 50%;
    text-align: center;
    font-size: 1.25em;
}

.onhand__letter{
    font-size: 1.5em;
}

.custody {
    width: 50%;
    text-align: center;
    font-size: 1.25em;
}

.custody__letter{
    font-size: 1.5em;
}

.post{
    display: flex;
}

.menu__list{
    margin-bottom: 8px;
    font-weight: bold;
}

.menu__item {
    font-size: 16px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3%;
    height: 57px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #252525;

}

.albam{
    opacity: 0.5;
}

.menu__title{
    display: flex;
    gap: 3%;
}

.menu__title img{
    width: 10%;
}

.menu__title p {
    color: #252525;
}