/* 共通部分 */
* {
    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

li {
    list-style: none;
}

/* MAIN
----------------------- */
#main {
    width: 83%;
    margin: 0 auto;
}

.main__inner {
    padding-top: 50px;
}