/* 共通部分 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
}

button {
    border: none;
}


/* HEADER
----------------------- */
#header {
    background: linear-gradient(to right, #D4EEFC, #FEEAC4);
    /* グラデーションの開始色（左側）と終了色（右側）を指定 */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.header__title {
    font-size: 1.6em;
}

/* MAIN
--------------------------*/
.main__inner {
    width: 83%;
    margin: 0 auto;
}

.post_mainimage{
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
}


._post_image{
 width: 50%;
}

/* FORM 
---------------------------*/
#form{
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.form__send{
    background-color: #EAF4FC;
    color: #252525;
    border-radius: 8px;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
}

.form__send img {
    width: 20%;
}




