/* 共通部分 */
* {
    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

button {
    border: none;
}

li {
    list-style: none;
}


/* MAIN
----------------------- */
#main {
    width: 83%;
    margin: 0 auto;
    padding-top: 110px;
}

.contain {
    height: 246px;
    background-color: #FCF7ED;
    margin-bottom: 116px;
    border-radius: 12px;

    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
}

.contain__inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 1.5em;
    /* font-family: "vdl-penletter", sans-serif; */
    font-weight: 500;
    font-style: normal;
}

.contain__inner img {
    width: 15%;
    padding-top: 26px;
    align-self: center;
    margin-bottom: 21px;
}

.thought {
    height: 107px;
    overflow: scroll;
    line-height: 2em;
    font-family: "vdl-penletter", sans-serif;
}

.me {
    align-self: flex-end;
}

.days {
    align-self: flex-end;
    font-weight: bold;
}

/*btn*/
.form__send {
    display: block;
    text-align: center;
    padding: 16px 0;
    width: 100%;
    color: #252525;
    border-radius: 24px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border: 1px solid #252525;
}

/*------------- モーダルウィンドウ--------- */
.mask {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    inset: 0;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
}

.modal_common {
    background-color: #FFF;
    max-width: 36rem;
    width: 80%;
    padding: 2rem;
    padding-top: 2rem;
    border-radius: 1.5rem;
    position: absolute;
    inset: 10rem 0 auto;
    margin: auto;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_common img {
    width: 15%;
    margin-bottom: 14px;
}

.modal_common h1 {
    font-size: 1.7em;
}

.modal_common button {
    background: none;
    font-weight: bold;
    padding-left: 6px;
    font-size: 2em;
}

.modal_common p {
    line-height: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.modal_common p span {
    display: block;
}

.modal_common a {
    background-color: #FFBA38;
    color: #FFF;
    width: 70%;
    padding: 12px;
    text-align: center;
}

.blue_save {
    margin-bottom: 13px;
}

.h1_kome {
    margin-bottom: 22px;
}

.modal_btn {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%;
}

#close {
    border: 1px solid #252525;
    border-radius: 16px;
    width: 45%;
    padding: 8px 0;
}

#cancelBtn {
    border-radius: 16px;
    background: #FFBA38;
    width: 45%;
    padding: 8px 0;
}