/* 共通部分 */
* {
    font-family: 'Zen Maru Gothic', sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

button {
    border: none;
}

li {
    list-style: none;
}


/* MAIN
----------------------- */
#main {
    width: 83%;
    margin: 0 auto;
    padding-top: 110px;
}

.contain {
    height: 246px;
    background-color: #FCF7ED;
    margin-bottom: 48px;
    border-radius: 12px;

    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
}

.contain__inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 1.5em;
    /* font-family: "vdl-penletter", sans-serif; */
    font-weight: 500;
    font-style: normal;
}

.contain__inner img {
    width: 15%;
    padding-top: 26px;
    align-self: center;
    margin-bottom: 21px;
}

.thought {
    height: 107px;
    overflow: scroll;
    line-height: 2em;
    font-family: "vdl-penletter", sans-serif;
}

.me {
    align-self: flex-end;
}

.days {
    align-self: flex-end;
    font-weight: bold;
}

/*btn*/
.form__send {
    display: block;
    text-align: center;
    padding: 16px 0;
    width: 100%;
    background-color: #252525;
    color: #FFF;
    border-radius: 24px;
    margin-bottom: 42px;
    font-size: 1.5em;
}