<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>手紙閲覧</title>
    <!-- reset.css ress -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="js/script.js" defer></script>
</head>

<body>
    <header id="header">
        <div class="header__inner">
            <h1 class="header__title">手紙</h1>
        </div>
    </header>

    <main id="main">
        <div class="contain">
            <div class="contain__inner">
                <img src="image/logo.png" alt="">
                <p class="partner"></p>
                <p class="thought"></p>
                <p class="me"></p>
                <p class="days"></p>
            </div>
        </div>
        <a href="https://liff.line.me/2000014015-QqLAlNmW/letter_edit/" class="form__send">もう一度手紙を送る</a>
    </main>
</body>
</html>